* {
  /* outline: 2.5px dotted rgba(0, 255, 13, 0.705); */
}

body {
  color: #2C7A7A;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #EDC9B4;
  margin: 1em;
  transition: 350ms color;
  transition: 350ms background-color;
}

.dark_mode {
  color: #eee;
  background-color: #333;
}

#report_container {
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
}

body>header>nav>ul>li {
  background-color: #BFE3E3;
  padding: 0.25em 0.75em;
  border: 1px solid black;
}

body>header>nav>ul>li>a {
  color: #2C7A7A;
}

body>header>nav>ul>li>a:visited {
  color: #2C7A7A;
}

ul {
  border: 1px solid #2C7A7A;
  background-color: #2C7A7A;
  color: #BFE3E3;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  box-shadow: 3px 6px 9px 4px hsla(0, 0%, 0%, 0.4);
  border-radius: 0.2em;
}

nav>ul>li {
  font-size: 1em;
  display: inline-block;
  margin-left: 0.75em;
}

li {
  /* border: 1px solid red; */
  font-size: 0.75em;
  font-weight: normal;
  list-style-type: none;
}

#output ul {
  float: left;
  /* box-sizing: content-box; */
  width: fit-content;
  margin: 1em;
}

#output>ul>li {
  margin-left: 1em;
}

.logo {
  display: block;
  margin: auto;
  box-shadow: 3px 6px 9px 4px hsla(0, 0%, 0%, 0.4);
  background-color: #BFE3E3;
  padding: 2em;
  width: 80%;
}

input[type="number"] {
  width: 3em;
}

input:invalid+span:after {
  position: absolute;
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
}

body>form>#submit_btn {
  /* position: absolute; */
  /* right: 0; */
  float: right;
}

table tr td:first-child {
  font-size: 1.17em;
}

table tr {
  transition: 350ms all;
}

table td:nth-child(2n+1) {
  background-color: hsl(22, 61%, 85%);
}

body.dark_mode table td:nth-child(2n+1) {
  background-color: #555;
}

.report>table tr:hover {
  background-color: hsl(22, 61%, 99%);
}

body.dark_mode .report>table tr:hover {
  background-color: #666;
}

tr,
td {
  border: 0;
  margin: 0;
}